/* GLOBAL */
:root {
    box-sizing: border-box;
    font-size: calc(1vw + 0.6em);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.4;
    color: #424242;
    background-color: #fff8e1;
}

input {        
    padding: .6em;
    min-height: 40px;
}

ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    padding: 0;
}

p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif;
    margin: 0;
}

.outer-spacing {
    margin-bottom: 2.5rem;
}

.row-max-size {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 1024px) {
    .row-max-size {
        max-width: 1024px;
    }
}

.button {
    padding: 0.4em 1em;
    color: darkgoldenrod;
    border: 2px solid darkgoldenrod;
    border-radius: 0.2em;
    text-decoration: none;
    font-size: 1rem;
}

.button:hover {
    background-color: yellow;
    color: darkgoldenrod;
    cursor: pointer;
}

.button--cta {
    padding: 0.6em 1em;
    background-color: gold;
    color: dimgrey;
    border: none;
}
/* END OF GLOBAL */


/* header module */
.header {
    background-color: #ffcf40;
    padding: 0.4em 0;
}

.header__title {
    margin: 0;
    font-size: 1.6rem;
    font-weight: bold;
    font-family: Helvetica;
    text-transform: capitalize;
}

/* banner module */
.banner {
    background-image: url(../images/bank.jpg);
    background-size: cover;
    background-color: #fffde7;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: luminosity;
}

.banner__inner {
    padding: 3em 0;
    color: gold;
    text-align: right;
    font-size: 1.5em;
    text-shadow: 1px 1px gold;
}

.banner__body {
    background-color: #000;
    padding: 1.5625em;
    opacity: .6;
}

.banner__button {
    display: inline-block;
    margin-top: 1rem;
}

/* form modules */
.form {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2.5rem;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap
}

.form__text {
    flex-grow: 2;
    flex-shrink: 1;
}

.form__button {
    flex-grow: 1;
    flex-shrink: 2;
}

form > * + * {
    margin-left: 1.5em;
}

@media screen and (max-width: 616px) {
    .form__text, .form__button {
        flex: 1;
    }

    form > * + * {
        margin-left: 0;
        margin-top: 1.5625em;
    }
    
    .form {
        flex-wrap: wrap;
        flex-direction: column;
    }
}

/* list module */
.list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    margin-left: -1.5625em;
}

.list--dashboard {
    margin-top: -1.5625em;
}

.list > * {
    flex: 1 calc(50% - 1.5625em);
    margin-top: 1.5625em;
    margin-left: 1.5625em;
}

.list-item {
    background-color: #fff;
    border-radius: 0.3em;
    padding: 1.5625em;
    min-width: 200px;
    font-size: .75em;
}

.list-item--dashboard {
    background-color: darkgoldenrod;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
    width: auto;
    cursor: pointer;
}

.media {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.media > * + * {
    margin-left: 1em;
}

.media > img {
    height: 3em;
    border-radius: 1.5em;
}

.footer {
    background-color: #f0f2f4;
    color: #878f97;
    text-align: center;
    padding: 1em 0;
}


/* transaction module */
.trans {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    border: 1px solid darkgoldenrod;
    align-items: center;
    padding: 0.4em 1em;
    border-radius: .3em;
    text-align: center;
}

.trans > * {
    flex: 1 calc(50% - 1.5625em);
}

.trans > * + * {
    margin-left: 0.5em;
}

.trans p {
    font-size: 0.8rem;
    font-weight: bold;
}

.trans small {
    font-size: .7rem;
}

.amount {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
}

.amount > * {
    display: inline-block;
    align-self: center;
}

.amount__value {
    font-size: 1.2rem;
    font-weight: bold;
}

.amount__currency, .amount__kobo {
    font-size: .8rem;
}

@media screen and (min-width: 616px) {
    .trans p, .amount__currency, .amount__kobo {
        font-size: 0.6rem;
    }

    .trans small {
        font-size: .5rem;
    }
    
    .amount__value {
        font-size: 1rem;
    }
}

.container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-left: -1.5625em;
}

.container > * {
    margin-left: 1.5625em;
    background-color: #fff;
    padding: 1.5625em;
}

.aside {
    flex-grow: 1;
    flex-shrink: 3;
}

.main {
    flex-grow: 3;
    flex-shrink: 1;
}